@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Add Scripture";

    Validation.RequireField("book", "Book is required!");
    Validation.RequireField("chapter", "Chapter is required!");

    var book = "";
    var chapter = "";
    var verse = "";
    var favoriteFlag = "";
    var note = "";



    if (IsPost)
    {
        book = Request.Form["book"];
        chapter = Request.Form["chapter"];
        verse = Request.Form["verse"];
        favoriteFlag = Request.Form["favoriteFlag"];
        note = Request.Form["note"];

        var db = Database.Open("myScriptureJournalDB");
        var insertCommand = "INSERT INTO scripture (book, chapter, verse, favoriteFlag, note) Values(@0, @1, @2, @3, @4)";
        db.Execute(insertCommand, book, chapter, verse, favoriteFlag, note);
        Response.Redirect("~/pages/Index");
    }
}

<h2>Add a Scripture</h2>
@Html.ValidationSummary()
<form method="post">
    <fieldset>
        <legend>Scripture</legend>
        <p>
            @Html.Label("Book:")
            @Html.TextBox("book", Request.Form["book"])
            @Html.ValidationMessage("book")
        </p>

        <p>
            @Html.Label("Chapter(s):")
            @Html.TextBox("chapter", Request["chapter"])
            @Html.ValidationMessage("chapter")
        </p>

        <p>
            @Html.Label("Verse(s):")
            @Html.TextBox("verse", Request.Form["verse"])
        </p>

        <p>
            @Html.Label("Favorite:")
            @Html.CheckBox("favoriteFlag", Request.Form["favoriteFlag"])
        </p>

        <p>
            @Html.Label("Note:")
            @Html.TextArea("note", Request["note"])
        </p>

        <p>
            <input type="submit" name="buttonSubmit" value="Add Scripture" />
        </p>
    </fieldset>
</form>